.filter-container {
  padding: 1px;
  background-color: #6c757d;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 25px;
}

#filter-title {
  text-align: center;
}

.filter-form {
  margin: 50px;
}
